<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344624073313-svarur1ka06kbe9v6jbjqfei30hqbbmm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344624073313-svarur1ka06kbe9v6jbjqfei30hqbbmm</string>
	<key>API_KEY</key>
	<string>AIzaSyBvbOCN7pXpagr47ZHdAFGnpWUODMRA21I</string>
	<key>GCM_SENDER_ID</key>
	<string>344624073313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSandbox</string>
	<key>PROJECT_ID</key>
	<string>flutter-sandbox-1b35d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-sandbox-1b35d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344624073313:ios:0d9bb28a4155f2798bb820</string>
</dict>
</plist>